body{
	font-family: 'Montserrat', sans-serif;
	background-image:url(../images/stages.jpg);
	overflow-x: hidden; /* Hide horizontal scrollbar */
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;   
	text-align: center;
	justify-content: center;
	background-attachment: fixed;
	}     
	/* width */
::-webkit-scrollbar {
	width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
.row{
	background-color: white;
	color:rgb(0, 38, 77);
	height: 100px;
 }
.title{
	color:rgb(0, 38, 77);
	text-decoration: none;
    padding: 10px;
	font-size:30px;
	margin-bottom: -10px;
	font-weight: bold;
}
hr{
	font-weight: bold;
}
#Title2{
	color:white;
	font-size:40px;
	padding: 30px 20px 30px 20px;
	width:30%;
	margin-left: 34%;
}
#titlerow{
	background-color: white;
}
#titlerow td{
	color:rgb(0, 38, 77);
	height: 75px;
	font-size: 30px;
	font-weight: bold;
	margin-left: 20px;
}
#tablerow{
	background-color: rgba(0,0,0,0);
	height:100px;
}
#titlerow1{
	color:white;
	text-decoration: none;
	font-size:25px;
}
#title{
	color:white;
	font-size:40px;
	padding: 30px;
	width:30%;
	margin-left: 33%;
	margin-bottom:-20px;
}
#circle1{
	margin-top:30px;
	height: 100px;
	width: 6.5%;
	background-color: #FFB3BA;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
} 
#img1{
	width:80%;
	height: 770px;
	margin-top: 200px;
	margin-bottom: 200px;
	box-shadow: 15px 15px 41px 0px rgba(0,0,0,0.75); 
	transition:ease 5m;
} 
#img2{
	height: 100px;
	width: 100%;
	border-radius: 50%;
}
table{
	margin-left:25.5%;
}
tr{
	background-color:;
	color:white;
}
td{
	vertical-align:middle;
}
/*
#content1{
	background-color: white;
	padding-top: 2px;
	width:40%;
	height: 360px;
	color:white;
	margin-left: 30%;
	margin-top:5%;
	margin-bottom:10%;  
}
*/
input[type=text], textarea{
            width: 80%;
            color:rgb(0, 38, 77);
            padding: 12px 20px;
            box-sizing: border-box;
            margin-bottom:20px;
            border:1px solid black;
            border-bottom:3px solid black;
            border-right:3px solid black;
         }
input[type=submit] {
	background-color: #2ecc71; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-bottom:20px;
	cursor: pointer;
	width: 80%;
	font-size: 20px;
}
input[type=submit]:hover {
	background-color: #3498db;
}
#title1{
	color:black;
	font-size:30px;
	font-weight: bold;
	font-family:
}
.errors8{
	color:#F74F4F;
	margin-left:5px;
	padding-top: -20px;
	margin-top: -10px;
	font-weight: bold;
}
#create{
    background:#2ecc71;
    display: block;
    padding: 20px;
	width:15%;
    text-decoration: none;
	font-size:20px;
    text-align: center;
    color: white;
    transition: ease all 0.3s;
    position: fixed;
    right: 30px;
    bottom:30px;
    z-index: 10;
}
#create:hover{
    background: #3498db;
}
#contentctop{
    background-color: white;
         padding-top: 2px;
         width:40%;
         height: 490px;
         color:white;
         margin-left: 30.5%;
         margin-top:5%;
         margin-bottom:10%;
}
.p1{
    color: black;
}
#container-pop-up{
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.65); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#contenttop{
    background-color: white;
    color: rgb(0, 38, 77);
    padding: 30px;
    font-size: 18px;
}
.back{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
#titlerep{
	color:white;
	font-size:30px;
	font-weight: bold;
	font-family:
}